#cf1{
    padding: 5vw 35vw;
}
input, textarea{
    width: 30vw !important;
    box-shadow: unset !important;
}
#form{
    color: white;
}
#cf1_col_h1{
    color: white;
    text-align: center; 
}
#submit{
    width: 30vw !important;
    box-shadow: none;
}
#flexRadioDefault1, #flexRadioDefault2, #flexRadioDefault3{
    width:15px !important;
    height:15px !important;
}
#gender_title{
    font-size: 1.1vw;
}
#floatingInput::placeholder{
    color: grey;
}
#cf1_col_p{
    color: yellow;
    text-align: center;
    margin-bottom: 3vw;
}

#cf2{
    padding: 5vw 22vw;
}
table, tr, th, td{
    border: 1px solid white;
    color: white;
    padding: 0.5vw;
}
table{
    width: 60vw;
}
th{
    text-align: center;
}
#sign_in{
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-weight: 600;
}
.btn btn-danger{
    box-shadow: none;
    width: 5vw !important;
}
#registerHelp{
    margin-bottom: 2vw;
}